USE [master]
GO
/****** Object:  Database [BUSS]    Script Date: 2/17/2021 8:39:15 PM ******/
CREATE DATABASE [BUSS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BUSS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BUSS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BUSS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BUSS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BUSS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BUSS]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetFoto]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetFoto] (
	@ID_Paket int
  )
  RETURNS VARCHAR(255)
  BEGIN
	DECLARE @a VARCHAR(255);
	
	SET @a = (SELECT TOP 1 df.Foto FROM Detail_Paket dp JOIN Detail_Foto df ON df.ID_Destinasi = dp.ID_Destinasi WHERE dp.ID_Paket = @ID_Paket)
	RETURN @a
  END
GO
/****** Object:  Table [dbo].[Transaksi]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaksi](
	[ID_Transaksi] [int] IDENTITY(1,1) NOT NULL,
	[ID_Paket] [int] NOT NULL,
	[ID_Customer] [varchar](16) NOT NULL,
	[ID_Pegawai] [int] NULL,
	[Harga_total] [money] NOT NULL,
	[Jumlah_Penumpang] [int] NOT NULL,
	[Tanggal_Pesanan] [date] NOT NULL,
	[Bukti_DP] [varchar](255) NULL,
	[Bukti_Pelunasan] [varchar](255) NULL,
	[biaya_tambahan] [money] NULL,
	[Status_Transaksi] [int] NOT NULL,
	[PaketLama_Perjalanan] [float] NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Transaksi] PRIMARY KEY CLUSTERED 
(
	[ID_Transaksi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_DashboardCustomer]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_DashboardCustomer] AS
SELECT CONVERT(date, t.CreatedDate) as tgl, t.ID_Customer, COUNT(*) as jumlah FROM Transaksi t
GROUP BY CONVERT(date, t.CreatedDate), t.ID_Customer
GO
/****** Object:  Table [dbo].[Paket]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paket](
	[ID_Paket] [int] IDENTITY(1,1) NOT NULL,
	[Nama_Paket] [varchar](50) NOT NULL,
	[Harga] [money] NULL,
	[Konsumsi] [int] NOT NULL,
	[Lama_Perjalanan] [int] NULL,
	[Penginapan] [int] NOT NULL,
	[Jenis_Paket] [int] NOT NULL,
	[Jadwal] [varchar](255) NULL,
	[Keterangan] [varchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Paket] PRIMARY KEY CLUSTERED 
(
	[ID_Paket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_TransaksiCount]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_TransaksiCount] AS
SELECT p.ID_Paket, p.Nama_Paket, COUNT(*) as jumlah_dipesan
FROM Transaksi t JOIN Paket p ON t.ID_Paket = p.ID_Paket
GROUP BY p.Nama_Paket, p.ID_Paket
GO
/****** Object:  Table [dbo].[Destinasi]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destinasi](
	[ID_Destinasi] [int] IDENTITY(1,1) NOT NULL,
	[Nama_Destinasi] [varchar](50) NOT NULL,
	[Harga_Tiket] [money] NOT NULL,
	[ID_Kota] [int] NOT NULL,
	[Rating] [float] NOT NULL,
	[Jam_buka] [time](7) NOT NULL,
	[Jam_tutup] [time](7) NOT NULL,
	[Deskripsi] [varchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Destinasi] PRIMARY KEY CLUSTERED 
(
	[ID_Destinasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategori_Wilayah]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori_Wilayah](
	[ID_KategoriWilayah] [int] IDENTITY(1,1) NOT NULL,
	[Nama_Wilayah] [varchar](255) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Kategori_Wilayah] PRIMARY KEY CLUSTERED 
(
	[ID_KategoriWilayah] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kota]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kota](
	[ID_Kota] [int] IDENTITY(1,1) NOT NULL,
	[Nama_Kota] [varchar](100) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Kota] PRIMARY KEY CLUSTERED 
(
	[ID_Kota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail_Kategori]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_Kategori](
	[ID_KategoriWilayah] [int] NOT NULL,
	[ID_Kota] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Detail_Kategori] PRIMARY KEY CLUSTERED 
(
	[ID_KategoriWilayah] ASC,
	[ID_Kota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_JumlahDestinasiWilayah]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_JumlahDestinasiWilayah] AS
SELECT kw.ID_KategoriWilayah, kw.Nama_Wilayah, COUNT(*) as JumlahDestinasi
FROM Detail_Kategori dk JOIN Kategori_Wilayah kw ON dk.ID_KategoriWilayah = kw.ID_KategoriWilayah
JOIN Kota k ON k.ID_Kota = dk.ID_Kota JOIN Destinasi d ON d.ID_Kota = k.ID_Kota
GROUP BY kw.Nama_Wilayah, kw.ID_KategoriWilayah
GO
/****** Object:  Table [dbo].[Detail_Paket]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_Paket](
	[ID_Paket] [int] NOT NULL,
	[ID_Destinasi] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Detail_Paket] PRIMARY KEY CLUSTERED 
(
	[ID_Paket] ASC,
	[ID_Destinasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_DestinasiTerlaris]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_DestinasiTerlaris] AS
SELECT dp.ID_Destinasi, Nama_Destinasi, COUNT(*) as JumlahDipesan
FROM Detail_Paket dp JOIN Destinasi d ON d.ID_Destinasi = dp.ID_Destinasi
GROUP BY dp.ID_Destinasi, Nama_Destinasi
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[NIK] [varchar](16) NOT NULL,
	[Nama] [varchar](255) NOT NULL,
	[Alamat] [varchar](255) NOT NULL,
	[No_HP] [varchar](15) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[NIK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_LaporanTransaksi]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_LaporanTransaksi] AS
SELECT t.*, p.Nama_Paket, p.Jadwal, p.Lama_Perjalanan, c.Nama, c.Alamat, c.No_HP, c.Email FROM Transaksi t
JOIN Paket p ON p.ID_Paket = t.ID_Paket
JOIN Customer c ON t.ID_Customer = c.NIK
GO
/****** Object:  View [dbo].[view_LaporanDestinasi]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[view_LaporanDestinasi] AS
SELECT d.*, k.Nama_Kota FROM Destinasi d
JOIN Kota k ON d.ID_Kota = k.ID_Kota
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[ID_Feedback] [int] IDENTITY(1,1) NOT NULL,
	[ID_Transaksi] [int] NOT NULL,
	[Rating] [float] NOT NULL,
	[Isi_Feedback] [text] NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[ID_Feedback] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_LaporanFeedback]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_LaporanFeedback] AS
SELECT f.*, p.Nama_Paket, p.Lama_Perjalanan, t.Tanggal_Pesanan, c.Nama, c.Alamat, c.Email FROM Feedback f
JOIN Transaksi t ON f.ID_Transaksi = t.ID_Transaksi
JOIN Paket p ON p.ID_Paket = t.ID_Paket
JOIN Customer c ON c.NIK = t.ID_Customer
GO
/****** Object:  View [dbo].[view_StatusTransCount]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_StatusTransCount] as
SELECT Status_Transaksi,
CASE
    WHEN Status_Transaksi = 0 THEN 'Menunggu Pembayaran DP'
    WHEN Status_Transaksi = 1 THEN 'Pembayaran DP diproses'
  WHEN Status_Transaksi = 2 THEN 'Menunggu Pelunasan'
    WHEN Status_Transaksi = 3 THEN 'Pelunasan diproses'
  WHEN Status_Transaksi = 4 THEN 'Lunas'
    WHEN Status_Transaksi = 5 THEN 'Selesai'
  WHEN Status_Transaksi = 6 THEN 'Feedback'
    ELSE 'Dibatalkan'
END AS StatusTrans, Count(*) as jumlah
from Transaksi group by Status_Transaksi
GO
/****** Object:  View [dbo].[view_PaketHome]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_PaketHome] AS
  SELECT p.ID_Paket, p.Nama_Paket, p.Harga, ISNULL(AVG(CAST(f.Rating as Float)), 0) 'Rating', COUNT(f.Rating) 'JumlahRate', ISNULL(dbo.fnGetFoto(p.ID_Paket), 'default.jpg') 'Foto', p.Status
  FROM Feedback f
  JOIN Transaksi t ON f.ID_Transaksi = t.ID_Transaksi RIGHT JOIN 
  Paket p ON t.ID_Paket = p.ID_Paket JOIN Detail_Paket dp ON p.ID_Paket = dp.ID_Paket
  WHERE Harga IS NOT NULL
  GROUP BY p.ID_Paket, p.Nama_Paket, p.Harga, p.Status
GO
/****** Object:  View [dbo].[view_TransaksiAdmin]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_TransaksiAdmin] AS
SELECT TOP (1000) [ID_Transaksi]
    ,[ID_Customer]
    ,[ID_Pegawai]
    ,[Harga_total]
    ,[Jumlah_Penumpang]
    ,[Tanggal_Pesanan]
    ,[Bukti_DP]
    ,[Bukti_Pelunasan]
    ,[biaya_tambahan]
    ,[Status_Transaksi]
    ,[PaketLama_Perjalanan]
    ,t.CreatedDate 'CreatedDateTr', p.*
FROM [BUSS].[dbo].[Transaksi] t
JOIN Paket p ON t.ID_Paket = p.ID_Paket
ORDER BY case when Status_Transaksi = 1 then 1
    when Status_Transaksi = 3 then 2
    when Status_Transaksi = 4 then 3
    else 4
end asc, Status_Transaksi asc
GO
/****** Object:  View [dbo].[view_TransaksiCustomer]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_TransaksiCustomer] AS
SELECT TOP (1000) [ID_Transaksi]
    ,[ID_Customer]
    ,[ID_Pegawai]
    ,[Harga_total]
    ,[Jumlah_Penumpang]
    ,[Tanggal_Pesanan]
    ,[Bukti_DP]
    ,[Bukti_Pelunasan]
    ,[biaya_tambahan]
    ,[Status_Transaksi]
    ,[PaketLama_Perjalanan]
    ,t.CreatedDate 'CreatedDateTr', p.*
FROM [BUSS].[dbo].[Transaksi] t
JOIN Paket p ON t.ID_Paket = p.ID_Paket
ORDER BY case when Status_Transaksi = 0 then 1
    when Status_Transaksi = 2 then 2
    when Status_Transaksi = 5 then 3
    else 4
end asc, Status_Transaksi asc
GO
/****** Object:  Table [dbo].[Detail_Foto]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_Foto](
	[ID_Detail] [int] IDENTITY(1,1) NOT NULL,
	[ID_Destinasi] [int] NOT NULL,
	[Foto] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Detail_Foto] PRIMARY KEY CLUSTERED 
(
	[ID_Detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail_Rating_Destinasi]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_Rating_Destinasi](
	[NIK] [varchar](16) NOT NULL,
	[ID_Destinasi] [int] NOT NULL,
	[Rating] [float] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Detail_Rating_Destinasi] PRIMARY KEY CLUSTERED 
(
	[NIK] ASC,
	[ID_Destinasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jenis_Kendaraan]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jenis_Kendaraan](
	[ID_Jenis] [int] IDENTITY(1,1) NOT NULL,
	[Nama_Jenis] [varchar](30) NOT NULL,
	[Jumlah_Kursi] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Jenis_Kendaraan] PRIMARY KEY CLUSTERED 
(
	[ID_Jenis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kendaraan]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kendaraan](
	[ID_Kendaraan] [int] IDENTITY(1,1) NOT NULL,
	[Nama_Kendaraan] [varchar](50) NOT NULL,
	[ID_Jenis] [int] NOT NULL,
	[No_Kendaraan] [varchar](10) NOT NULL,
	[Harga_kendaraan] [money] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Kendaraan] PRIMARY KEY CLUSTERED 
(
	[ID_Kendaraan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pegawai]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pegawai](
	[ID_Pegawai] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](100) NOT NULL,
	[Alamat] [varchar](255) NOT NULL,
	[No_HP] [varchar](15) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Role] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Pegawai] PRIMARY KEY CLUSTERED 
(
	[ID_Pegawai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaksi_Kendaraan]    Script Date: 2/17/2021 8:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaksi_Kendaraan](
	[ID_Transaksi] [int] NOT NULL,
	[ID_Kendaraan] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Transaksi_Kendaraan] PRIMARY KEY CLUSTERED 
(
	[ID_Transaksi] ASC,
	[ID_Kendaraan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([NIK], [Nama], [Alamat], [No_HP], [Email], [Password], [CreatedDate]) VALUES (N'0812365231231231', N'Rika Dwi ', N'Madiun', N'081263517623', N'rika@gmail.com', N'asd', CAST(N'2021-02-12T15:20:38.770' AS DateTime))
INSERT [dbo].[Customer] ([NIK], [Nama], [Alamat], [No_HP], [Email], [Password], [CreatedDate]) VALUES (N'0912830182390819', N'Oktavian', N'Balong', N'01923781723', N'okta@gmail.com', N'asdasd', CAST(N'2021-02-12T16:02:07.997' AS DateTime))
INSERT [dbo].[Customer] ([NIK], [Nama], [Alamat], [No_HP], [Email], [Password], [CreatedDate]) VALUES (N'1234567890123400', N'Tes', N'Surabaya', N'0817263123', N'test@gmail.com', N'test', CAST(N'2021-01-09T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Destinasi] ON 

INSERT [dbo].[Destinasi] ([ID_Destinasi], [Nama_Destinasi], [Harga_Tiket], [ID_Kota], [Rating], [Jam_buka], [Jam_tutup], [Deskripsi], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'Kawah Putih', 50000.0000, 3, 4.5, CAST(N'09:14:00' AS Time), CAST(N'21:14:00' AS Time), N'asd', 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-18T16:39:15.350' AS DateTime))
INSERT [dbo].[Destinasi] ([ID_Destinasi], [Nama_Destinasi], [Harga_Tiket], [ID_Kota], [Rating], [Jam_buka], [Jam_tutup], [Deskripsi], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Ancol', 50000.0000, 7, 4, CAST(N'21:20:00' AS Time), CAST(N'21:20:00' AS Time), N'asd', 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-18T18:51:17.410' AS DateTime))
INSERT [dbo].[Destinasi] ([ID_Destinasi], [Nama_Destinasi], [Harga_Tiket], [ID_Kota], [Rating], [Jam_buka], [Jam_tutup], [Deskripsi], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'Pantai Kelingking', 15000.0000, 3, 3.5, CAST(N'21:30:00' AS Time), CAST(N'21:30:00' AS Time), N'zxc', 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Destinasi] OFF
GO
SET IDENTITY_INSERT [dbo].[Detail_Foto] ON 

INSERT [dbo].[Detail_Foto] ([ID_Detail], [ID_Destinasi], [Foto]) VALUES (6, 4, N'202101131341350.jpg')
INSERT [dbo].[Detail_Foto] ([ID_Detail], [ID_Destinasi], [Foto]) VALUES (8, 4, N'202101131341450.jpg')
INSERT [dbo].[Detail_Foto] ([ID_Detail], [ID_Destinasi], [Foto]) VALUES (11, 6, N'202101180651300.jpg')
SET IDENTITY_INSERT [dbo].[Detail_Foto] OFF
GO
INSERT [dbo].[Detail_Kategori] ([ID_KategoriWilayah], [ID_Kota], [Status]) VALUES (1, 2, 0)
INSERT [dbo].[Detail_Kategori] ([ID_KategoriWilayah], [ID_Kota], [Status]) VALUES (1, 4, 0)
INSERT [dbo].[Detail_Kategori] ([ID_KategoriWilayah], [ID_Kota], [Status]) VALUES (1, 7, 0)
GO
INSERT [dbo].[Detail_Paket] ([ID_Paket], [ID_Destinasi], [Status]) VALUES (1, 5, 0)
INSERT [dbo].[Detail_Paket] ([ID_Paket], [ID_Destinasi], [Status]) VALUES (1, 15, 0)
INSERT [dbo].[Detail_Paket] ([ID_Paket], [ID_Destinasi], [Status]) VALUES (2, 8, 0)
GO
INSERT [dbo].[Detail_Rating_Destinasi] ([NIK], [ID_Destinasi], [Rating], [Status]) VALUES (N'1234567890123450', 1, 4, 0)
INSERT [dbo].[Detail_Rating_Destinasi] ([NIK], [ID_Destinasi], [Rating], [Status]) VALUES (N'1234567890123450', 2, 4, 0)
INSERT [dbo].[Detail_Rating_Destinasi] ([NIK], [ID_Destinasi], [Rating], [Status]) VALUES (N'1234567890123450', 4, 4, 0)
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([ID_Feedback], [ID_Transaksi], [Rating], [Isi_Feedback], [CreatedDate]) VALUES (2, 7, 5, N'Pelayanan memuaskan', CAST(N'2021-01-21T16:10:22.967' AS DateTime))
INSERT [dbo].[Feedback] ([ID_Feedback], [ID_Transaksi], [Rating], [Isi_Feedback], [CreatedDate]) VALUES (3, 9, 5, N'Pelayanan Bagus', CAST(N'2021-01-22T13:32:21.263' AS DateTime))
INSERT [dbo].[Feedback] ([ID_Feedback], [ID_Transaksi], [Rating], [Isi_Feedback], [CreatedDate]) VALUES (4, 9, 3, N'Pelayanan Buruk', CAST(N'2021-01-22T13:33:13.323' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Jenis_Kendaraan] ON 

INSERT [dbo].[Jenis_Kendaraan] ([ID_Jenis], [Nama_Jenis], [Jumlah_Kursi], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'Bus Besar', 45, 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-18T07:18:52.737' AS DateTime))
INSERT [dbo].[Jenis_Kendaraan] ([ID_Jenis], [Nama_Jenis], [Jumlah_Kursi], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Bus Kecil', 30, 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Jenis_Kendaraan] ([ID_Jenis], [Nama_Jenis], [Jumlah_Kursi], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'Ok', 4, 0, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Jenis_Kendaraan] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategori_Wilayah] ON 

INSERT [dbo].[Kategori_Wilayah] ([ID_KategoriWilayah], [Nama_Wilayah], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'Jakarta dan sekitarnya', 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Kategori_Wilayah] ([ID_KategoriWilayah], [Nama_Wilayah], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Jogjakarta dan sekitarnya', 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 20, CAST(N'2021-02-08T12:03:42.890' AS DateTime))
INSERT [dbo].[Kategori_Wilayah] ([ID_KategoriWilayah], [Nama_Wilayah], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'Lampung dan sekitarnya', 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-18T07:16:50.563' AS DateTime))
SET IDENTITY_INSERT [dbo].[Kategori_Wilayah] OFF
GO
SET IDENTITY_INSERT [dbo].[Kendaraan] ON 

INSERT [dbo].[Kendaraan] ([ID_Kendaraan], [Nama_Kendaraan], [ID_Jenis], [No_Kendaraan], [Harga_kendaraan], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'Sumber Kencana', 1, N'B 1098 AC', 238839.0000, 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Kendaraan] ([ID_Kendaraan], [Nama_Kendaraan], [ID_Jenis], [No_Kendaraan], [Harga_kendaraan], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Sumber Rejeki', 1, N'AE 1098 DA', 950000.0000, 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-18T07:19:36.320' AS DateTime))
INSERT [dbo].[Kendaraan] ([ID_Kendaraan], [Nama_Kendaraan], [ID_Jenis], [No_Kendaraan], [Harga_kendaraan], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'Panda', 4, N'AE 1058 DA', 150000.0000, 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Kendaraan] OFF
GO
SET IDENTITY_INSERT [dbo].[Kota] ON 

INSERT [dbo].[Kota] ([ID_Kota], [Nama_Kota], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Bekasi', 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-18T17:47:42.260' AS DateTime))
INSERT [dbo].[Kota] ([ID_Kota], [Nama_Kota], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'Magetan', 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Kota] ([ID_Kota], [Nama_Kota], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (4, N'Bogor', 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Kota] OFF
GO
SET IDENTITY_INSERT [dbo].[Paket] ON 

INSERT [dbo].[Paket] ([ID_Paket], [Nama_Paket], [Harga], [Konsumsi], [Lama_Perjalanan], [Penginapan], [Jenis_Paket], [Jadwal], [Keterangan], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'Paket Candi', 240000.0000, 5, 2, 1, 0, N'20210125140924.xlsx', N'Tes', 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Paket] ([ID_Paket], [Nama_Paket], [Harga], [Konsumsi], [Lama_Perjalanan], [Penginapan], [Jenis_Paket], [Jadwal], [Keterangan], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Paket Wisata Jatim 1', 420000.0000, 4, 2, 1, 0, N'20210208152143.pdf', N'Berisi daerah di sekitar Jawa Timur', 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-18T20:14:11.867' AS DateTime))
INSERT [dbo].[Paket] ([ID_Paket], [Nama_Paket], [Harga], [Konsumsi], [Lama_Perjalanan], [Penginapan], [Jenis_Paket], [Jadwal], [Keterangan], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'Paket Wisata Jateng 1', 215000.0000, 4, 2, 1, 0, N'20210122112643.xlsx', N'Merupakan paket wisata jawa tengah 1', 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), 1, CAST(N'2021-01-18T20:14:58.183' AS DateTime))
SET IDENTITY_INSERT [dbo].[Paket] OFF
GO
SET IDENTITY_INSERT [dbo].[Pegawai] ON 

INSERT [dbo].[Pegawai] ([ID_Pegawai], [Nama], [Alamat], [No_HP], [Email], [Password], [Role], [Status], [CreatedDate], [ModifiedDate]) VALUES (1, N'Samodra', N'Ponorogo', N'0861233', N'samodra28@gmail.com', N'asd', 1, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), CAST(N'2021-02-12T15:19:17.753' AS DateTime))
INSERT [dbo].[Pegawai] ([ID_Pegawai], [Nama], [Alamat], [No_HP], [Email], [Password], [Role], [Status], [CreatedDate], [ModifiedDate]) VALUES (2, N'Shifa Habibah Anl', N'Pemalang', N'08123178264123', N'shifa@gmail.com', N'shifa', 2, 1, CAST(N'2021-01-09T00:00:00.000' AS DateTime), CAST(N'2021-02-06T22:55:35.123' AS DateTime))
INSERT [dbo].[Pegawai] ([ID_Pegawai], [Nama], [Alamat], [No_HP], [Email], [Password], [Role], [Status], [CreatedDate], [ModifiedDate]) VALUES (3, N'test', N'asd', N'01723781623', N'asd@gmail.com', N'asd', 2, 0, CAST(N'2021-01-09T00:00:00.000' AS DateTime), CAST(N'2021-01-09T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pegawai] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaksi] ON 

INSERT [dbo].[Transaksi] ([ID_Transaksi], [ID_Paket], [ID_Customer], [ID_Pegawai], [Harga_total], [Jumlah_Penumpang], [Tanggal_Pesanan], [Bukti_DP], [Bukti_Pelunasan], [biaya_tambahan], [Status_Transaksi], [PaketLama_Perjalanan], [CreatedDate]) VALUES (3, 3, N'1234567890123450', 1, 250000.0000, 50, CAST(N'2021-01-19' AS Date), NULL, NULL, 50000.0000, 6, 2, CAST(N'2021-01-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Transaksi] ([ID_Transaksi], [ID_Paket], [ID_Customer], [ID_Pegawai], [Harga_total], [Jumlah_Penumpang], [Tanggal_Pesanan], [Bukti_DP], [Bukti_Pelunasan], [biaya_tambahan], [Status_Transaksi], [PaketLama_Perjalanan], [CreatedDate]) VALUES (5, 3, N'1234567890123450', NULL, 1865000.0000, 105, CAST(N'2021-01-20' AS Date), N'20210122130336.jpg', N'20210122130540.jpg', NULL, 6, 2, CAST(N'2021-01-20T12:06:39.550' AS DateTime))
INSERT [dbo].[Transaksi] ([ID_Transaksi], [ID_Paket], [ID_Customer], [ID_Pegawai], [Harga_total], [Jumlah_Penumpang], [Tanggal_Pesanan], [Bukti_DP], [Bukti_Pelunasan], [biaya_tambahan], [Status_Transaksi], [PaketLama_Perjalanan], [CreatedDate]) VALUES (6, 2, N'1234567890123450', NULL, 1270000.0000, 45, CAST(N'2021-01-20' AS Date), N'20210212155839.jpg', NULL, NULL, 1, 2, CAST(N'2021-01-20T12:10:31.193' AS DateTime))
SET IDENTITY_INSERT [dbo].[Transaksi] OFF
GO
INSERT [dbo].[Transaksi_Kendaraan] ([ID_Transaksi], [ID_Kendaraan], [Status]) VALUES (3, 1, 1)
INSERT [dbo].[Transaksi_Kendaraan] ([ID_Transaksi], [ID_Kendaraan], [Status]) VALUES (3, 2, 1)
INSERT [dbo].[Transaksi_Kendaraan] ([ID_Transaksi], [ID_Kendaraan], [Status]) VALUES (5, 5, 1)
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Destinasi] ADD  CONSTRAINT [DF_Destinasi_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Detail_Kategori] ADD  CONSTRAINT [DF_Detail_Kategori_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Detail_Paket] ADD  CONSTRAINT [DF_Detail_Paket_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Detail_Rating_Destinasi] ADD  CONSTRAINT [DF_Detail_Rating_Destinasi_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Jenis_Kendaraan] ADD  CONSTRAINT [DF_Jenis_Kendaraan_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Kategori_Wilayah] ADD  CONSTRAINT [DF_Kategori_Wilayah_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Kendaraan] ADD  CONSTRAINT [DF_Kendaraan_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Kota] ADD  CONSTRAINT [DF_Kota_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Paket] ADD  CONSTRAINT [DF_Paket_Harga]  DEFAULT ((0)) FOR [Harga]
GO
ALTER TABLE [dbo].[Paket] ADD  CONSTRAINT [DF_Paket_Penginapan]  DEFAULT ((0)) FOR [Penginapan]
GO
ALTER TABLE [dbo].[Paket] ADD  CONSTRAINT [DF_Paket_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Pegawai] ADD  CONSTRAINT [DF_Pegawai_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Transaksi] ADD  CONSTRAINT [DF_Transaksi_biaya_tambahan]  DEFAULT ((0)) FOR [biaya_tambahan]
GO
ALTER TABLE [dbo].[Transaksi_Kendaraan] ADD  CONSTRAINT [DF_Transaksi_Kendaraan_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Destinasi]  WITH CHECK ADD  CONSTRAINT [FK_Destinasi_Kota] FOREIGN KEY([ID_Kota])
REFERENCES [dbo].[Kota] ([ID_Kota])
GO
ALTER TABLE [dbo].[Destinasi] CHECK CONSTRAINT [FK_Destinasi_Kota]
GO
ALTER TABLE [dbo].[Destinasi]  WITH CHECK ADD  CONSTRAINT [FK_Destinasi_Pegawai] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Pegawai] ([ID_Pegawai])
GO
ALTER TABLE [dbo].[Destinasi] CHECK CONSTRAINT [FK_Destinasi_Pegawai]
GO
ALTER TABLE [dbo].[Destinasi]  WITH CHECK ADD  CONSTRAINT [FK_Destinasi_Pegawai1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Pegawai] ([ID_Pegawai])
GO
ALTER TABLE [dbo].[Destinasi] CHECK CONSTRAINT [FK_Destinasi_Pegawai1]
GO
ALTER TABLE [dbo].[Detail_Foto]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Foto_Destinasi] FOREIGN KEY([ID_Destinasi])
REFERENCES [dbo].[Destinasi] ([ID_Destinasi])
GO
ALTER TABLE [dbo].[Detail_Foto] CHECK CONSTRAINT [FK_Detail_Foto_Destinasi]
GO
ALTER TABLE [dbo].[Detail_Kategori]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Kategori_Kategori_Wilayah] FOREIGN KEY([ID_KategoriWilayah])
REFERENCES [dbo].[Kategori_Wilayah] ([ID_KategoriWilayah])
GO
ALTER TABLE [dbo].[Detail_Kategori] CHECK CONSTRAINT [FK_Detail_Kategori_Kategori_Wilayah]
GO
ALTER TABLE [dbo].[Detail_Kategori]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Kategori_Kota] FOREIGN KEY([ID_Kota])
REFERENCES [dbo].[Kota] ([ID_Kota])
GO
ALTER TABLE [dbo].[Detail_Kategori] CHECK CONSTRAINT [FK_Detail_Kategori_Kota]
GO
ALTER TABLE [dbo].[Detail_Paket]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Paket_Destinasi] FOREIGN KEY([ID_Destinasi])
REFERENCES [dbo].[Destinasi] ([ID_Destinasi])
GO
ALTER TABLE [dbo].[Detail_Paket] CHECK CONSTRAINT [FK_Detail_Paket_Destinasi]
GO
ALTER TABLE [dbo].[Detail_Paket]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Paket_Paket] FOREIGN KEY([ID_Paket])
REFERENCES [dbo].[Paket] ([ID_Paket])
GO
ALTER TABLE [dbo].[Detail_Paket] CHECK CONSTRAINT [FK_Detail_Paket_Paket]
GO
ALTER TABLE [dbo].[Detail_Rating_Destinasi]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Rating_Destinasi_Customer] FOREIGN KEY([NIK])
REFERENCES [dbo].[Customer] ([NIK])
GO
ALTER TABLE [dbo].[Detail_Rating_Destinasi] CHECK CONSTRAINT [FK_Detail_Rating_Destinasi_Customer]
GO
ALTER TABLE [dbo].[Detail_Rating_Destinasi]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Rating_Destinasi_Destinasi] FOREIGN KEY([ID_Destinasi])
REFERENCES [dbo].[Destinasi] ([ID_Destinasi])
GO
ALTER TABLE [dbo].[Detail_Rating_Destinasi] CHECK CONSTRAINT [FK_Detail_Rating_Destinasi_Destinasi]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Transaksi] FOREIGN KEY([ID_Transaksi])
REFERENCES [dbo].[Transaksi] ([ID_Transaksi])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Transaksi]
GO
ALTER TABLE [dbo].[Jenis_Kendaraan]  WITH CHECK ADD  CONSTRAINT [FK_Jenis_Kendaraan_Pegawai] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Pegawai] ([ID_Pegawai])
GO
ALTER TABLE [dbo].[Jenis_Kendaraan] CHECK CONSTRAINT [FK_Jenis_Kendaraan_Pegawai]
GO
ALTER TABLE [dbo].[Jenis_Kendaraan]  WITH CHECK ADD  CONSTRAINT [FK_Jenis_Kendaraan_Pegawai1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Pegawai] ([ID_Pegawai])
GO
ALTER TABLE [dbo].[Jenis_Kendaraan] CHECK CONSTRAINT [FK_Jenis_Kendaraan_Pegawai1]
GO
ALTER TABLE [dbo].[Kategori_Wilayah]  WITH CHECK ADD  CONSTRAINT [FK_Kategori_Wilayah_Pegawai] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Pegawai] ([ID_Pegawai])
GO
ALTER TABLE [dbo].[Kategori_Wilayah] CHECK CONSTRAINT [FK_Kategori_Wilayah_Pegawai]
GO
ALTER TABLE [dbo].[Kategori_Wilayah]  WITH CHECK ADD  CONSTRAINT [FK_Kategori_Wilayah_Pegawai1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Pegawai] ([ID_Pegawai])
GO
ALTER TABLE [dbo].[Kategori_Wilayah] CHECK CONSTRAINT [FK_Kategori_Wilayah_Pegawai1]
GO
ALTER TABLE [dbo].[Kendaraan]  WITH CHECK ADD  CONSTRAINT [FK_Kendaraan_Jenis_Kendaraan] FOREIGN KEY([ID_Jenis])
REFERENCES [dbo].[Jenis_Kendaraan] ([ID_Jenis])
GO
ALTER TABLE [dbo].[Kendaraan] CHECK CONSTRAINT [FK_Kendaraan_Jenis_Kendaraan]
GO
ALTER TABLE [dbo].[Kendaraan]  WITH CHECK ADD  CONSTRAINT [FK_Kendaraan_Pegawai] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Pegawai] ([ID_Pegawai])
GO
ALTER TABLE [dbo].[Kendaraan] CHECK CONSTRAINT [FK_Kendaraan_Pegawai]
GO
ALTER TABLE [dbo].[Kendaraan]  WITH CHECK ADD  CONSTRAINT [FK_Kendaraan_Pegawai1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Pegawai] ([ID_Pegawai])
GO
ALTER TABLE [dbo].[Kendaraan] CHECK CONSTRAINT [FK_Kendaraan_Pegawai1]
GO
ALTER TABLE [dbo].[Kota]  WITH CHECK ADD  CONSTRAINT [FK_Kota_Pegawai] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Pegawai] ([ID_Pegawai])
GO
ALTER TABLE [dbo].[Kota] CHECK CONSTRAINT [FK_Kota_Pegawai]
GO
ALTER TABLE [dbo].[Kota]  WITH CHECK ADD  CONSTRAINT [FK_Kota_Pegawai1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Pegawai] ([ID_Pegawai])
GO
ALTER TABLE [dbo].[Kota] CHECK CONSTRAINT [FK_Kota_Pegawai1]
GO
ALTER TABLE [dbo].[Paket]  WITH CHECK ADD  CONSTRAINT [FK_Paket_Pegawai] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Pegawai] ([ID_Pegawai])
GO
ALTER TABLE [dbo].[Paket] CHECK CONSTRAINT [FK_Paket_Pegawai]
GO
ALTER TABLE [dbo].[Paket]  WITH CHECK ADD  CONSTRAINT [FK_Paket_Pegawai1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Pegawai] ([ID_Pegawai])
GO
ALTER TABLE [dbo].[Paket] CHECK CONSTRAINT [FK_Paket_Pegawai1]
GO
ALTER TABLE [dbo].[Transaksi]  WITH CHECK ADD  CONSTRAINT [FK_Transaksi_Customer] FOREIGN KEY([ID_Customer])
REFERENCES [dbo].[Customer] ([NIK])
GO
ALTER TABLE [dbo].[Transaksi] CHECK CONSTRAINT [FK_Transaksi_Customer]
GO
ALTER TABLE [dbo].[Transaksi]  WITH CHECK ADD  CONSTRAINT [FK_Transaksi_Paket] FOREIGN KEY([ID_Paket])
REFERENCES [dbo].[Paket] ([ID_Paket])
GO
ALTER TABLE [dbo].[Transaksi] CHECK CONSTRAINT [FK_Transaksi_Paket]
GO
ALTER TABLE [dbo].[Transaksi]  WITH CHECK ADD  CONSTRAINT [FK_Transaksi_Pegawai] FOREIGN KEY([ID_Pegawai])
REFERENCES [dbo].[Pegawai] ([ID_Pegawai])
GO
ALTER TABLE [dbo].[Transaksi] CHECK CONSTRAINT [FK_Transaksi_Pegawai]
GO
ALTER TABLE [dbo].[Transaksi_Kendaraan]  WITH CHECK ADD  CONSTRAINT [FK_Transaksi_Kendaraan_Kendaraan] FOREIGN KEY([ID_Kendaraan])
REFERENCES [dbo].[Kendaraan] ([ID_Kendaraan])
GO
ALTER TABLE [dbo].[Transaksi_Kendaraan] CHECK CONSTRAINT [FK_Transaksi_Kendaraan_Kendaraan]
GO
ALTER TABLE [dbo].[Transaksi_Kendaraan]  WITH CHECK ADD  CONSTRAINT [FK_Transaksi_Kendaraan_Transaksi] FOREIGN KEY([ID_Transaksi])
REFERENCES [dbo].[Transaksi] ([ID_Transaksi])
GO
ALTER TABLE [dbo].[Transaksi_Kendaraan] CHECK CONSTRAINT [FK_Transaksi_Kendaraan_Transaksi]
GO
/****** Object:  Trigger [dbo].[Tr_DeleteDetailPaket]    Script Date: 2/17/2021 8:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Tr_DeleteDetailPaket]
	ON [dbo].[Detail_Paket]
	FOR DELETE
AS
BEGIN
	DECLARE @penginapan int
	DECLARE @sumharga money
	SET @penginapan = (SELECT Penginapan FROM Paket WHERE ID_Paket = (SELECT i.ID_Paket FROM deleted i))

	
	SET @sumharga = (SELECT SUM(d.Harga_Tiket) FROM 
	Detail_Paket dp JOIN Destinasi d ON d.ID_Destinasi = dp.ID_Destinasi JOIN Paket t ON t.ID_Paket = dp.ID_Paket
	WHERE dp.ID_Paket = (SELECT i.ID_Paket FROM deleted i))

	IF (@sumharga != 0)
	BEGIN
		IF(@penginapan = 1)
		BEGIN	
			UPDATE Paket SET 
			Harga = ((Lama_Perjalanan-1) * 50000) + (30000 * Konsumsi) + (SELECT SUM(d.Harga_Tiket) FROM 
			Detail_Paket dp JOIN Destinasi d ON d.ID_Destinasi = dp.ID_Destinasi JOIN Paket t ON t.ID_Paket = dp.ID_Paket
			WHERE dp.ID_Paket = (SELECT i.ID_Paket FROM deleted i))
			WHERE ID_Paket = (SELECT i.ID_Paket FROM deleted i)
		END
		ELSE 
		BEGIN
			UPDATE Paket SET 
			Harga = (30000 * Konsumsi) + (SELECT SUM(d.Harga_Tiket) FROM 
			Detail_Paket dp JOIN Destinasi d ON d.ID_Destinasi = dp.ID_Destinasi JOIN Paket t ON t.ID_Paket = dp.ID_Paket
			WHERE dp.ID_Paket = (SELECT i.ID_Paket FROM deleted i))
			WHERE ID_Paket = (SELECT i.ID_Paket FROM deleted i)
		END
	END
	ELSE
	BEGIN
		UPDATE Paket SET Harga = NULL WHERE ID_Paket = (SELECT i.ID_Paket FROM deleted i)
	END

END
GO
ALTER TABLE [dbo].[Detail_Paket] ENABLE TRIGGER [Tr_DeleteDetailPaket]
GO
/****** Object:  Trigger [dbo].[Tr_InsertDetailPaket]    Script Date: 2/17/2021 8:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Tr_InsertDetailPaket]
	ON [dbo].[Detail_Paket]
	FOR INSERT, DELETE
AS
BEGIN
	DECLARE @penginapan int
	DECLARE @sumharga money
	SET @penginapan = (SELECT Penginapan FROM Paket WHERE ID_Paket = (SELECT i.ID_Paket FROM inserted i))

	
	SET @sumharga = (SELECT SUM(d.Harga_Tiket) FROM 
	Detail_Paket dp JOIN Destinasi d ON d.ID_Destinasi = dp.ID_Destinasi JOIN Paket t ON t.ID_Paket = dp.ID_Paket
	WHERE dp.ID_Paket = (SELECT i.ID_Paket FROM inserted i))

	IF (@sumharga != 0)
	BEGIN
		IF(@penginapan = 1)
		BEGIN	
			UPDATE Paket SET 
			Harga = ((Lama_Perjalanan-1) * 50000) + (30000 * Konsumsi) + (SELECT SUM(d.Harga_Tiket) FROM 
			Detail_Paket dp JOIN Destinasi d ON d.ID_Destinasi = dp.ID_Destinasi JOIN Paket t ON t.ID_Paket = dp.ID_Paket
			WHERE dp.ID_Paket = (SELECT i.ID_Paket FROM inserted i))
			WHERE ID_Paket = (SELECT i.ID_Paket FROM inserted i)
		END
		ELSE 
		BEGIN
			UPDATE Paket SET 
			Harga = (30000 * Konsumsi) + (SELECT SUM(d.Harga_Tiket) FROM 
			Detail_Paket dp JOIN Destinasi d ON d.ID_Destinasi = dp.ID_Destinasi JOIN Paket t ON t.ID_Paket = dp.ID_Paket
			WHERE dp.ID_Paket = (SELECT i.ID_Paket FROM inserted i))
			WHERE ID_Paket = (SELECT i.ID_Paket FROM inserted i)
		END
	END
	ELSE
	BEGIN
		UPDATE Paket SET Harga = NULL WHERE ID_Paket = (SELECT i.ID_Paket FROM inserted i)
	END

END
GO
ALTER TABLE [dbo].[Detail_Paket] ENABLE TRIGGER [Tr_InsertDetailPaket]
GO
/****** Object:  Trigger [dbo].[Tr_InsertDetailRating]    Script Date: 2/17/2021 8:39:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Tr_InsertDetailRating]
	ON [dbo].[Detail_Rating_Destinasi]
	FOR INSERT, UPDATE
AS
BEGIN
	UPDATE Destinasi SET Rating = (SELECT AVG(dr.Rating) FROM Detail_Rating_Destinasi dr 
	WHERE dr.ID_Destinasi = (SELECT i.ID_Destinasi FROM inserted i)) 
	WHERE ID_Destinasi = (SELECT i.ID_Destinasi FROM inserted i)
END
GO
ALTER TABLE [dbo].[Detail_Rating_Destinasi] ENABLE TRIGGER [Tr_InsertDetailRating]
GO
/****** Object:  Trigger [dbo].[Tr_PaketUpdate]    Script Date: 2/17/2021 8:39:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Tr_PaketUpdate]
	ON [dbo].[Paket]
	AFTER UPDATE
AS
BEGIN
	DECLARE @penginapan int
	DECLARE @sumharga money
	SET @penginapan = (SELECT Penginapan FROM Paket WHERE ID_Paket = (SELECT i.ID_Paket FROM inserted i))

	
	SET @sumharga = (SELECT SUM(d.Harga_Tiket) FROM 
	Detail_Paket dp JOIN Destinasi d ON d.ID_Destinasi = dp.ID_Destinasi JOIN Paket t ON t.ID_Paket = dp.ID_Paket
	WHERE dp.ID_Paket = (SELECT i.ID_Paket FROM inserted i))

	IF (@sumharga != 0)
	BEGIN
		IF(@penginapan = 1)
		BEGIN	
			UPDATE Paket SET 
			Harga = ((Lama_Perjalanan-1) * 50000) + (30000 * Konsumsi) + (SELECT SUM(d.Harga_Tiket) FROM 
			Detail_Paket dp JOIN Destinasi d ON d.ID_Destinasi = dp.ID_Destinasi JOIN Paket t ON t.ID_Paket = dp.ID_Paket
			WHERE dp.ID_Paket = (SELECT i.ID_Paket FROM inserted i))
			WHERE ID_Paket = (SELECT i.ID_Paket FROM inserted i)
		END
		ELSE 
		BEGIN
			UPDATE Paket SET 
			Harga = (30000 * Konsumsi) + (SELECT SUM(d.Harga_Tiket) FROM 
			Detail_Paket dp JOIN Destinasi d ON d.ID_Destinasi = dp.ID_Destinasi JOIN Paket t ON t.ID_Paket = dp.ID_Paket
			WHERE dp.ID_Paket = (SELECT i.ID_Paket FROM inserted i))
			WHERE ID_Paket = (SELECT i.ID_Paket FROM inserted i)
		END
	END
	ELSE
	BEGIN
		UPDATE Paket SET Harga = NULL WHERE ID_Paket = (SELECT i.ID_Paket FROM inserted i)
	END

END
GO
ALTER TABLE [dbo].[Paket] ENABLE TRIGGER [Tr_PaketUpdate]
GO
USE [master]
GO
